@font-face {
  font-family: yekan;
  src: url("../fonts/iranyekanwebbold.ttf") format("truetype");
}


body{
    direction: rtl;
  background-color:#f7f7f7;
  font-family: 'yekan';
}


.leftlinks{
  margin-right: auto !important; 
}

.sectionOne{
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 95vh;

}

.mynav{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 4rem;
}
.nav-link:hover{
  color: #003496 !important ;
}


.bgcolor { background-color:#279AD3; } 
.forecolor { color:#279AD3; } 
.bordercolor { border:3px solid #279AD3; }




.fw-title{
  font-weight:bold;
}

.fw-text{
  font-size: 1.1rem;
}

.header-content{
  flex-direction: column;
display: flex;

  justify-content: center;
}


.sectionTwo{
padding-bottom: 8rem;
}
.iconhover:hover{
  color: #003496 !important ;
}
.box{
  box-shadow: rgba(17, 69, 85, 0.19) 0px 10px 20px, rgba(34, 74, 87, 0.23) 0px 6px 6px;}


@media only screen and (max-width: 820px) {
  .sectionOne {
    height: 30rem; }
  
  }

  @media only screen and (max-width: 500px) {
 .header-content{
   margin-top: 25%;
 }
    
    }

    .seconeads{
      flex-direction: column;
      justify-content: center;

      display: flex;
    }

    .adslink{
      font-size: 1.2rem;
    }


    .sectionFour{
      background: #085078;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    }
    @media only screen and (max-width: 500px) {
.usericon{
  display: none;
}
    }

    @media only screen and (max-width: 820px) {
      .usericon{
        display: none;
      
      }
    }